body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: red;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.nav-link:hover {
  border-color: white;
}

.overlay-content {
  background-color: rgba(0, 0, 0, 0.247);
}


.border-between::before,
.border-between::after {
  content: '';
  display: block;
  width: 50%;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.border-between::before {
  left: 0;
}

.border-between::after {
  right: 0;
}